server:
  port: 8081

spring:
  application:
    name: student-service
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848 # Local Nacos Server Default Port
    sentinel:
      transport:
        dashboard: 127.0.0.1:8080 # Sentinel Dashboard Port
        port: 8719
  datasource:
    url: jdbc:postgresql://localhost:5432/users
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
